.card {
  border: 0.6rem double var(--color-lav-blue);
  background-color: var(--background-color2);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
.card:hover {
  border: thick double var(--font-color3);
  font-family: "Updock", cursive;
  font-weight: 400;
  font-style: normal;
}

.card h3 {
  text-decoration: underline overline;
}

p {
  color: var(--color-lavender);
}
