.card {
  border: 0.6rem double var(--color-lav-blue);
  background-color: var(--background-color2);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
.card:hover {
  background-color: var(--background-color3);
  border: 0.1rem double var(--font-color3);
  font-family: "Updock", cursive;
  font-weight: 400;
  font-style: normal;
}

.card h3 {
  text-decoration: underline overline;
  font-size: 1.7rem;
}

.card h4 {
  font-size: 1.6rem;
}

.card p {
  color: var(--color-lavender);
  font-size: 1.5rem;
}

.card h3,
h4 {
  color: var(--font-color5);
}
