.card {
  border: 0.6rem double var(--color-violet-blue);
  background-color: var(--color-lav-blue);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
.card:hover {
  border: thick double var(--color-lavender);
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.ccard h2 {
  text-decoration: underline overline;
}
